title = "Профиль"
url = "/account/:code?"
layout = "default"
is_hidden = 0

[account]
redirect = "account"
paramCode = "code"
forceSecure = 0
==
<?php
// use Rainlab/Users/;

// function onInit()
// {
//     $this->fileUploader->bindModel('files', User::find(1));
// }
?>
==
{% if not user %}

    <div class="row">

        <div class="col-md-6">
            <h3>Вход</h3>
            {% partial account ~ '::signin' %}
        </div>

        <div class="col-md-6">
            <h3>Регистрация</h3>
            {% partial account ~ '::register' %}
        </div>

    </div>

{% else %}

    {% partial account ~ '::activation_check' %}

    {% partial account ~ '::update' %}

    {% partial account ~ '::deactivate_link' %}

{% endif %}

<hr />

<p><a href="{{ 'forgot-password'|page }}">Забыли пароль?</a></p>