title = "ЕСВРО"
url = "/"
layout = "default"
is_hidden = 0
==
<div class="row">

    <div class="col-sm-6 col-md-4">
        <div class="thumbnail text-center">
            <br />
            <a href="/calculation/menu">
                <img src="{{ 'assets/images/plugin-blog.png'|theme }}" alt="RainLab.Blog" />
                <div class="caption">
                    <h3>Заявки и расчеты</h3>
                </div>
            </a>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="thumbnail text-center">
            <br />
            <img src="{{ 'assets/images/plugin-forum.png'|theme }}" alt="RainLab.Forum" />
            <div class="caption">
                <h3>Задать вопрос</h3>
            </div>
        </div>
    </div>
    
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail text-center">
            <br />
            <img src="{{ 'assets/images/plugin-user.png'|theme }}" alt="RainLab.User" />
            <div class="caption">
                <h3>Профиль организации</h3>
            </div>
        </div>
    </div>

</div>