title = "Расчеты и заявки"
url = "/calculation/menu/"
layout = "default"
is_hidden = 0
==
<div class="row">

    <div class="col-sm-6 col-md-4">
        <div class="thumbnail text-center">
            <br />
            <i class="nav-icon icon icon-calculator" aria-hidden="true"></i>
            <!-- <img src="{{ 'assets/images/plugin-blog.png'|theme }}" alt="RainLab.Blog" />
                -->         
            <div class="caption">
                <h3>Подать заявку</h3>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="thumbnail text-center">
            <br />
            <img src="{{ 'assets/images/plugin-forum.png'|theme }}" alt="RainLab.Forum" />
            <div class="caption">
                <h3>История заявок</h3>
            </div>
        </div>
    </div>

</div>