title = "Blog Post"
url = "/blog/post/:slug"
layout = "default"
description = "Viewing a single blog post"
is_hidden = 0

[blogPost]
slug = "{{ :slug }}"
categoryPage = "blog/category"
==
<?php
function onEnd()
{
    $this->page->title = $this->post->title;
}
?>
==
{% component 'blogPost' %}

<hr />
<h4>Comments</h4>
{% if user %}
    
{% else %}
    <p>Please <a href="{{ 'account'|page }}">sign in</a> to comment!</p>
{% endif %}